[submodule "external/ur/urcap-custom-api"]
	path = external/ur/urcap-custom-api
	url = https://github.com/BomMadsen/URCap-CustomAPI.git
[submodule "external/ur/hello-world-swing"]
	path = external/ur/hello-world-swing
	url = https://github.com/UniversalRobots/HelloWorldSwing.git
[submodule "external/ur/ellipse-swing"]
	path = external/ur/ellipse-swing
	url = https://github.com/UniversalRobots/EllipseSwing.git
[submodule "external/ur/urcap-rtci"]
	path = external/ur/urcap-rtci
	url = https://github.com/BomMadsen/URCap-getRobotData.git
[submodule "external/apache-commons-validator"]
	path = external/apache-commons-validator
	url = https://github.com/apache/commons-validator.git
[submodule "modules/gsplines"]
	path = modules/gsplines
    url = https://github.com/rafaelrojasmiliani/gsplines.git
[submodule "modules/gspline_optimizer"]
	path = modules/gspline_optimizer
	url = https://github.com/rafaelrojasmiliani/gspline_optimizer.git
